<%- if controller_name != 'sessions' %>
<div>
  <h4>既に登録済みの方</h4>
    <div class="left-space">
    <%= link_to "こちら", new_session_path(resource_name) %>
    　からログインしてください。
    </div>
</div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div>
  <div class="left-space">
    <%= link_to "こちら", new_registration_path(resource_name) %>
    　から新規登録を行ってください。
  </div>
</div>

<% end %>