table {
  border-collapse: collapse;
}

th, td {
  padding: 10px 60px 10px 5px;
}

th {
  background-color: #eee;
}

/*タイトルに使用*/
h4 {
  background-color: #eee;
  display: inline-block;
  padding: 3px 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

a {
  text-decoration: underline;
}

/*フォント・文字*/

.big-font {
  font-size: 20px;
}

.text-center {
  margin: 0 auto;
  text-align: center;
}

.top-bottom-text-center {
  vertical-align: middle;
  width: 200px;
}

.font_weight {
  font-weight: bold;
}

.font-size {
  font-size: 30px;
  color: gray;
}

/*ボーダー*/

.top-bottom-border {
  border-bottom: solid 1px #eee;
  border-top: solid 1px silver;
}

.bottom-border {
  border-bottom: solid 1px #eee;
}

.btn-size {
  padding: 5px 30px;
}

/*配置*/

.center {
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.right {
  margin-right: 0;
  margin-left: auto;
  width: 20%;
}

.width-100 {
  width: 100%;
}

/*ページ*/

.page {
  display: inline-block;
  margin: 0 5px;
}

/*リンク*/

.black-link {
  color: black;
}

/*調整空白*/

.space_15 {
  margin-bottom: 15px;
}

.space_30 {
  margin-bottom: 30px;
}

.right-space {
  margin-right: 20px;
}

.right-space-big {
  margin-right: 50px;
}

.genre-space {
  padding-right: 0;
}

/*フォーム*/

.form-big {
  height: 100px;
}

.form-center {
  width: 70%;
}

/*テーブル*/

.table-boder {
  border: solid 1px;
}

/*アイコン*/

.maru {
  border-radius: 50%;
  padding: 7px;
  background-color: White;
}


/*装飾*/

.shadow {
  filter: drop-shadow(2px 2px 0px #c0c0c0);
}

.red {
  color: red;
}

.true {
  color: #00CC00;
}

.false {
  color: #bbb;
}

/**/

.test {
  background-color: red
}