table {
  border-collapse: collapse;
}

th, td {
  padding: 10px 60px 10px 5px;
}

th {
  background-color: #eee;
  font-weight: normal;
}

/*タイトルに使用*/
h4 {
  background-color: #eee;
  display: inline-block;
  padding: 3px 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.bottom-border {
  border-bottom: solid 1px #eee;
}

.btn-size {
  padding: 5px 30px;
}

/*要素を真ん中に配置*/
.center {
  margin: 0 auto;
  width: 100%;
}

.page {
  display: inline-block;
}

.width100 {
  margin: 0 auto;
  text-align: center;
}

/*太字にする*/
.font_weight {
  font-weight: bold;
}
.flex {
  display: flex;
}

.right {
  margin-right: 0;
  margin-left: auto;
  width: 20%;
}

/*下に空白*/
.space_15 {
  margin-bottom: 15px;
}

/*↑の多め*/
.space_30 {
  margin-bottom: 30px;
}

.table-boder {
  border: solid 1px;
}

.maru {
  border-radius: 50%;
  padding: 5px;
  background-color: White;
}

.shadow {
  filter: drop-shadow(2px 2px 0px #c0c0c0);
}

.red {
  color: red;
}

.true {
  color: #00CC33;
}

.false {
  color: gray;
}
