table {
  border-collapse: collapse;
}

th, td {
  padding: 10px 60px 10px 5px;
}

th {
  background-color: #eee;
}

/*タイトルに使用*/
h4 {
  background-color: #eee;
  display: inline-block;
  padding: 3px 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

a {
  text-decoration: underline;
}

.black-link {
  color: black;
}

.big-font {
  font-size: 20px;
}

.top-bottom-border {
  border-bottom: solid 1px #eee;
  border-top: solid 1px silver;
}

.btn-size {
  padding: 5px 30px;
}

/*要素を真ん中に配置*/
.center {
  margin: 0 auto;
  width: 100%;
}

.form-center {
  width: 70%;
}

.page {
  display: inline-block;
  margin: 0 5px;
}

.text-center {
  margin: 0 auto;
  text-align: center;
}

/*太字にする*/
.font_weight {
  font-weight: bold;
}
.flex {
  display: flex;
}

.inline {
  display: inline;
}

.right {
  margin-right: 0;
  margin-left: auto;
  width: 20%;
}

.font-size {
  font-size: 30px;
  color: gray;
}

/*下に空白*/
.space_15 {
  margin-bottom: 15px;
}

/*↑の多め*/
.space_30 {
  margin-bottom: 30px;
}

.form-big {
  height: 100px;
}

.table-boder {
  border: solid 1px;
}

.maru {
  border-radius: 50%;
  padding: 7px;
  background-color: White;
}

.shadow {
  filter: drop-shadow(2px 2px 0px #c0c0c0);
}

.red {
  color: red;
}

.right-space {
  margin-right: 20px;
}

.true {
  color: #00CC00;
}

.false {
  color: #bbb;
}

.top-bottom-text-center {
  vertical-align: middle;
  width: 200px;
}

.width-100 {
  width: 100%;
}



.test {
  background-color: red
}